
.app__navbar {
    height: var(--header-height);
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: transparent;

    position: fixed;
    z-index: var(--z-fixed);
}

.app__navbar-links {

    display: flex;
    justify-content: center;
    align-items: center;
  
    /* div {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 5;
    } */
}


.app__navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}









@media screen and (max-width: 900px) {
        .app__navbar-links {
            display: none;
        }
        
}